.App {
  text-align: center;
}

.bar{
  border: none;
  outline: none;
  height: 5vw;
}
.header{
  display: inline-block;
}
.gitImag{
  width: 10vw;
  display: inline;
}
.navBar{
  display: inline;
}
.link{
  text-decoration: none;
  color: black;
}
.isActive{
  background-color: cadetblue;
}
